flow
[{"id":"80593426.c74708","type":"subflow","name":"Pairing Notifications","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"9b5c2cdf.fbdb9","type":"mqtt in","z":"80593426.c74708","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"61c0f06e.bbfc1","x":290,"y":140,"wires":[["3f3d2b4c.501544"]]},{"id":"3f3d2b4c.501544","type":"json","z":"80593426.c74708","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["3f68bf37.8e4b5","f54c4991.a702b8","cccd7eb0.ade89"]]},{"id":"db7a2682.32cf38","type":"ui_toast","z":"80593426.c74708","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":80,"wires":[]},{"id":"3f68bf37.8e4b5","type":"function","z":"80593426.c74708","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["db7a2682.32cf38"]]},{"id":"2bc0ff73.6ef65","type":"comment","z":"80593426.c74708","name":"Notification","info":"","x":110,"y":140,"wires":[]},{"id":"697e5504.cf96ac","type":"comment","z":"80593426.c74708","name":"Pairing","info":"","x":590,"y":80,"wires":[]},{"id":"1667d3f5.43ae4c","type":"ui_toast","z":"80593426.c74708","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":200,"wires":[]},{"id":"f54c4991.a702b8","type":"function","z":"80593426.c74708","name":"Notification","func":"if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["1667d3f5.43ae4c"]]},{"id":"39b46527.6df26a","type":"comment","z":"80593426.c74708","name":"Paired","info":"","x":590,"y":200,"wires":[]},{"id":"9f944e3c.07ade","type":"ui_toast","z":"80593426.c74708","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1030,"y":140,"wires":[]},{"id":"cccd7eb0.ade89","type":"function","z":"80593426.c74708","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["9f944e3c.07ade"]]},{"id":"bb37beea.4cb9a","type":"comment","z":"80593426.c74708","name":"Incoming or Repairing","info":"","x":640,"y":140,"wires":[]},{"id":"8c31a74e.b2da48","type":"subflow","name":"Devices","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"c102a3a9.e1b35","type":"mqtt in","z":"8c31a74e.b2da48","name":"zigbee2mqtt/out devices","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"61c0f06e.bbfc1","x":350,"y":140,"wires":[["3a1174b2.2e8d2c"]]},{"id":"27617cc2.8b5564","type":"ui_template","z":"8c31a74e.b2da48","group":"ae73e141.4d887","name":"","order":0,"width":"12","height":"12","format":"<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"8cd2bbe.d990448","type":"mqtt out","z":"8c31a74e.b2da48","name":"zigbee2mqtt/in devices","topic":"zigbee2mqtt/bridge/config/devices","qos":"","retain":"","broker":"61c0f06e.bbfc1","x":580,"y":60,"wires":[]},{"id":"e44d8e0d.9d66f","type":"inject","z":"8c31a74e.b2da48","name":"Request Device List","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":60,"wires":[["8cd2bbe.d990448"]]},{"id":"96b89271.706d9","type":"comment","z":"8c31a74e.b2da48","name":"Request Device List","info":"","x":130,"y":60,"wires":[]},{"id":"4ece5841.3aa7c8","type":"comment","z":"8c31a74e.b2da48","name":"Receive Device List","info":"","x":130,"y":140,"wires":[]},{"id":"3a1174b2.2e8d2c","type":"json","z":"8c31a74e.b2da48","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["27617cc2.8b5564","d1bcc112.27633","74749f86.71254"]]},{"id":"58884223.54605c","type":"http in","z":"8c31a74e.b2da48","name":"","url":"/adminpanelapi/devicelist","method":"get","upload":false,"swaggerDoc":"","x":530,"y":220,"wires":[["d584680d.975e08"]]},{"id":"d1bcc112.27633","type":"function","z":"8c31a74e.b2da48","name":"Store Data","func":"flow.set('devicelist',msg.payload);","outputs":1,"noerr":0,"x":310,"y":220,"wires":[[]]},{"id":"a471de5e.05354","type":"http response","z":"8c31a74e.b2da48","name":"","x":870,"y":220,"wires":[]},{"id":"d584680d.975e08","type":"function","z":"8c31a74e.b2da48","name":"Get Data","func":"var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["a471de5e.05354"]]},{"id":"8b1ed2c5.36f3a","type":"comment","z":"8c31a74e.b2da48","name":"HTTP JSON API","info":"","x":120,"y":220,"wires":[]},{"id":"74749f86.71254","type":"function","z":"8c31a74e.b2da48","name":"Store Globally","func":"global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[[]]},{"id":"ae73e141.4d887","type":"ui_group","z":"8c31a74e.b2da48","name":"Devices","tab":"85bd4f5c.cf72c","order":1,"disp":true,"width":"12","collapse":false},{"id":"97cd80de.513bd","type":"subflow","name":"Status","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"4dc41b52.ea5874","type":"mqtt in","z":"97cd80de.513bd","name":"zigbee2mqtt/bridge state","topic":"zigbee2mqtt/bridge/state","qos":"2","broker":"61c0f06e.bbfc1","x":270,"y":80,"wires":[["2562b924.dfa146"]]},{"id":"2562b924.dfa146","type":"function","z":"97cd80de.513bd","name":"Format Data","func":"flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["385fc363.660e4c"]]},{"id":"7d89d30d.75863c","type":"ui_template","z":"97cd80de.513bd","group":"1311c821.bb3178","name":"","order":0,"width":"6","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"84080398.6b745","type":"function","z":"97cd80de.513bd","name":"Format Data","func":"var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nmsg.payload.numberofdevices = devicelist.length;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["7d89d30d.75863c"]]},{"id":"cde5f28f.72b62","type":"inject","z":"97cd80de.513bd","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":140,"wires":[["84080398.6b745"]]},{"id":"385fc363.660e4c","type":"debug","z":"97cd80de.513bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":80,"wires":[]},{"id":"124b684b.58e158","type":"comment","z":"97cd80de.513bd","name":"Get state","info":"","x":80,"y":80,"wires":[]},{"id":"24e5036f.64a69c","type":"comment","z":"97cd80de.513bd","name":"Update Web UI on Interval","info":"","x":130,"y":140,"wires":[]},{"id":"cec1c71a.7e6378","type":"http in","z":"97cd80de.513bd","name":"","url":"/adminpanelapi/state","method":"get","upload":false,"swaggerDoc":"","x":270,"y":220,"wires":[["e3cc3cf1.9a735"]]},{"id":"26e25af6.5b0c96","type":"http response","z":"97cd80de.513bd","name":"","x":590,"y":220,"wires":[]},{"id":"e3cc3cf1.9a735","type":"function","z":"97cd80de.513bd","name":"Get Data","func":"var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["26e25af6.5b0c96"]]},{"id":"6dbb2123.aef7f","type":"comment","z":"97cd80de.513bd","name":"HTTP API","info":"","x":80,"y":220,"wires":[]},{"id":"1311c821.bb3178","type":"ui_group","z":"","name":"Status","tab":"85bd4f5c.cf72c","order":2,"disp":true,"width":"6","collapse":false},{"id":"68c22d2c.6a5e64","type":"subflow","name":"Logging Level","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"562b89ad.365b98","type":"ui_dropdown","z":"68c22d2c.6a5e64","name":"","label":"","place":"Select option","group":"9297b3e8.73be","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":120,"y":60,"wires":[["eafac002.f2f1d"]]},{"id":"eafac002.f2f1d","type":"mqtt out","z":"68c22d2c.6a5e64","name":"zigbee2mqtt/in Logging Level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"","retain":"","broker":"61c0f06e.bbfc1","x":380,"y":60,"wires":[]},{"id":"9297b3e8.73be","type":"ui_group","z":"68c22d2c.6a5e64","name":"Logging Level","tab":"85bd4f5c.cf72c","order":4,"disp":true,"width":"6","collapse":false},{"id":"f2c38635.5ed0b8","type":"subflow","name":"Remove Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"4e536fd2.5d399","type":"ui_text_input","z":"f2c38635.5ed0b8","name":"","label":"Device Name","group":"cd5a7b73.0de058","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":300,"y":60,"wires":[["e514f05a.ffa8c"]]},{"id":"621ad2ae.1a627c","type":"mqtt out","z":"f2c38635.5ed0b8","name":"zigbee2mqtt/in Remove","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","broker":"61c0f06e.bbfc1","x":1190,"y":60,"wires":[]},{"id":"14d277fc.890458","type":"function","z":"f2c38635.5ed0b8","name":"Format Data","func":"flow.set('remove',msg.payload.remove);","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"e514f05a.ffa8c","type":"change","z":"f2c38635.5ed0b8","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.remove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["14d277fc.890458"]]},{"id":"91055a77.50a588","type":"function","z":"f2c38635.5ed0b8","name":"Format Data","func":"var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["621ad2ae.1a627c"]]},{"id":"84bd8204.8708a","type":"ui_button","z":"f2c38635.5ed0b8","name":"","group":"cd5a7b73.0de058","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":820,"y":60,"wires":[["91055a77.50a588","a09f636a.3ee1c"]]},{"id":"34606374.bdb5ec","type":"comment","z":"f2c38635.5ed0b8","name":"Remove Device","info":"","x":120,"y":60,"wires":[]},{"id":"592b7ad0.5b4634","type":"mqtt in","z":"f2c38635.5ed0b8","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"61c0f06e.bbfc1","x":290,"y":120,"wires":[["ca4bbf4e.d6872"]]},{"id":"ca4bbf4e.d6872","type":"json","z":"f2c38635.5ed0b8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["25888689.cb822a"]]},{"id":"b1b7b87d.ec48f8","type":"ui_toast","z":"f2c38635.5ed0b8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":120,"wires":[]},{"id":"25888689.cb822a","type":"function","z":"f2c38635.5ed0b8","name":"Notification","func":"if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["b1b7b87d.ec48f8"]]},{"id":"ec5b54ed.e89998","type":"comment","z":"f2c38635.5ed0b8","name":"Notification","info":"","x":110,"y":120,"wires":[]},{"id":"bdd4000e.554c","type":"ui_toast","z":"f2c38635.5ed0b8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1210,"y":120,"wires":[]},{"id":"a09f636a.3ee1c","type":"function","z":"f2c38635.5ed0b8","name":"Notification","func":"var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["bdd4000e.554c"]]},{"id":"cd5a7b73.0de058","type":"ui_group","z":"f2c38635.5ed0b8","name":"Remove Device","tab":"85bd4f5c.cf72c","order":5,"disp":true,"width":"6","collapse":false},{"id":"9e8e2c05.36f1e","type":"subflow","name":"Permit Join","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"9bfb2a0f.ccd0e8","type":"ui_dropdown","z":"9e8e2c05.36f1e","name":"","label":"","place":"Select option","group":"2636c3ec.cb875c","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Allow","value":"true","type":"str"},{"label":"Deny","value":"false","type":"str"}],"payload":"","topic":"","x":90,"y":40,"wires":[["82de5888.1b2278","4420c086.81731"]]},{"id":"82de5888.1b2278","type":"mqtt out","z":"9e8e2c05.36f1e","name":"zigbee2mqtt/in Join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"61c0f06e.bbfc1","x":270,"y":40,"wires":[]},{"id":"31f53cf.24941c4","type":"ui_toast","z":"9e8e2c05.36f1e","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":450,"y":100,"wires":[]},{"id":"4420c086.81731","type":"function","z":"9e8e2c05.36f1e","name":"Notification","func":"if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["31f53cf.24941c4"]]},{"id":"2636c3ec.cb875c","type":"ui_group","z":"","name":"Permit Join","tab":"85bd4f5c.cf72c","order":3,"disp":true,"width":"6","collapse":false},{"id":"aa448e02.b59bf","type":"subflow","name":"Rename Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"ab161932.7eed68","type":"ui_text_input","z":"aa448e02.b59bf","name":"","label":"Old Name","group":"2ae1d9ae.e9e556","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":120,"y":140,"wires":[["2691cdb8.18d4e2"]]},{"id":"b8db449e.c31928","type":"ui_text_input","z":"aa448e02.b59bf","name":"","label":"New Name","group":"2ae1d9ae.e9e556","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":130,"y":200,"wires":[["dd94bf92.e021f"]]},{"id":"8bc33af4.d96a08","type":"mqtt out","z":"aa448e02.b59bf","name":"zigbee2mqtt/in Rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","broker":"61c0f06e.bbfc1","x":1010,"y":140,"wires":[]},{"id":"874bc069.69537","type":"function","z":"aa448e02.b59bf","name":"Format Data","func":"flow.set('oldname',msg.payload.old);","outputs":1,"noerr":0,"x":470,"y":140,"wires":[[]]},{"id":"2691cdb8.18d4e2","type":"change","z":"aa448e02.b59bf","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["874bc069.69537"]]},{"id":"dd94bf92.e021f","type":"change","z":"aa448e02.b59bf","name":"change msg new","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["4129a5dd.b08bec"]]},{"id":"4a35698.2409c98","type":"function","z":"aa448e02.b59bf","name":"Format Data","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["8bc33af4.d96a08"]]},{"id":"4129a5dd.b08bec","type":"function","z":"aa448e02.b59bf","name":"Format Data","func":"flow.set('newname',msg.payload.new);","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"eac3b3ae.9fe1c","type":"ui_button","z":"aa448e02.b59bf","name":"","group":"2ae1d9ae.e9e556","order":5,"width":0,"height":0,"passthru":false,"label":"Rename","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":140,"wires":[["4a35698.2409c98","e6c50c55.f6666"]]},{"id":"a9742a00.a8ee28","type":"ui_toast","z":"aa448e02.b59bf","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":850,"y":200,"wires":[]},{"id":"e6c50c55.f6666","type":"function","z":"aa448e02.b59bf","name":"Notification","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["a9742a00.a8ee28"]]},{"id":"2ae1d9ae.e9e556","type":"ui_group","z":"","name":"Rename Device","tab":"85bd4f5c.cf72c","order":6,"disp":true,"width":"6","collapse":false},{"id":"61c0f06e.bbfc1","type":"mqtt-broker","z":"","name":"","broker":"192.168.10.14","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85bd4f5c.cf72c","type":"ui_tab","z":"","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"39daa23a.eeb5ee","type":"tab","label":"Zigbee2MQTT Admin Panel","disabled":false,"info":""},{"id":"27c9dbc8.8476e4","type":"subflow:aa448e02.b59bf","z":"39daa23a.eeb5ee","name":"","x":460,"y":580,"wires":[]},{"id":"e711b547.4df4b8","type":"subflow:9e8e2c05.36f1e","z":"39daa23a.eeb5ee","name":"","x":440,"y":540,"wires":[]},{"id":"6136bac1.1debf4","type":"subflow:f2c38635.5ed0b8","z":"39daa23a.eeb5ee","name":"","x":460,"y":620,"wires":[]},{"id":"94da160.bff8ae8","type":"comment","z":"39daa23a.eeb5ee","name":"Function","info":"","x":440,"y":500,"wires":[]},{"id":"f9722b64.35a698","type":"subflow:68c22d2c.6a5e64","z":"39daa23a.eeb5ee","name":"","x":450,"y":660,"wires":[]},{"id":"4ed2e74b.fbbab8","type":"subflow:97cd80de.513bd","z":"39daa23a.eeb5ee","name":"","x":430,"y":700,"wires":[]},{"id":"e863f524.67cc98","type":"subflow:8c31a74e.b2da48","z":"39daa23a.eeb5ee","name":"","x":430,"y":740,"wires":[]},{"id":"fee2ed3b.4906b","type":"comment","z":"39daa23a.eeb5ee","name":"Other","info":"","x":690,"y":500,"wires":[]},{"id":"cbf29c6e.f3bf6","type":"subflow:80593426.c74708","z":"39daa23a.eeb5ee","name":"","x":730,"y":540,"wires":[]},{"id":"4705d870.0c2348","type":"ui_button","z":"39daa23a.eeb5ee","name":"","group":"52489456.8b76dc","order":0,"width":0,"height":0,"passthru":false,"label":"Get Graph","color":"","bgcolor":"","icon":"","payload":"graphviz","payloadType":"str","topic":"zigbee2mqtt/bridge/networkmap","x":230,"y":860,"wires":[["9b36a35b.da264"]]},{"id":"c88321d9.fca8c","type":"mqtt in","z":"39daa23a.eeb5ee","name":"","topic":"zigbee2mqtt/bridge/networkmap/graphviz","qos":"2","broker":"61c0f06e.bbfc1","x":320,"y":920,"wires":[["acfa600f.3c32a"]]},{"id":"9b36a35b.da264","type":"mqtt out","z":"39daa23a.eeb5ee","name":"","topic":"","qos":"","retain":"","broker":"61c0f06e.bbfc1","x":390,"y":860,"wires":[]},{"id":"acfa600f.3c32a","type":"ui_template","z":"39daa23a.eeb5ee","group":"52489456.8b76dc","name":"","order":0,"width":"6","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":560,"y":920,"wires":[[]]},{"id":"52489456.8b76dc","type":"ui_group","z":"","name":"Graphviz","tab":"85bd4f5c.cf72c","disp":true,"width":"6","collapse":true}]
