flow
[{"id":"c1784156.72ea8","type":"subflow","name":"Network Map","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"5d7da365.1b7b3c","type":"mqtt in","z":"c1784156.72ea8","name":"zigbee2mqtt/out","topic":"zigbee2mqtt/bridge/networkmap/graphviz","qos":"2","broker":"bce314fb.c0edd8","x":120,"y":140,"wires":[["3508140f.b6d3ec"]]},{"id":"76930ecc.77f52","type":"http in","z":"c1784156.72ea8","name":"","url":"/adminpanelapi/networkmap/graphviz","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["c091dd94.cabb2"]]},{"id":"7c4770af.d74a6","type":"http response","z":"c1784156.72ea8","name":"","x":590,"y":200,"wires":[]},{"id":"c091dd94.cabb2","type":"function","z":"c1784156.72ea8","name":"get from flow","func":"var networkmap = flow.get('networkmap');\nmsg.payload = networkmap;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["7c4770af.d74a6"]]},{"id":"f2ec3e9c.82afb","type":"inject","z":"c1784156.72ea8","name":"","topic":"","payload":"graphviz","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":80,"wires":[["72b9f36b.48ba0c"]]},{"id":"3508140f.b6d3ec","type":"function","z":"c1784156.72ea8","name":"store in flow","func":"flow.set('networkmap',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[[]]},{"id":"72b9f36b.48ba0c","type":"mqtt out","z":"c1784156.72ea8","name":"zigbee2mqtt/in","topic":"zigbee2mqtt/bridge/networkmap","qos":"","retain":"","broker":"bce314fb.c0edd8","x":280,"y":80,"wires":[]},{"id":"4f1e89f1.4a9588","type":"subflow","name":"Pairing Notifications","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"230cc6ca.56f80a","type":"mqtt in","z":"4f1e89f1.4a9588","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"bce314fb.c0edd8","x":290,"y":140,"wires":[["836961a6.35904"]]},{"id":"836961a6.35904","type":"json","z":"4f1e89f1.4a9588","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["36d9f865.33e9b8","f69bd882.a62398","e31cde77.72ec4"]]},{"id":"8785fa50.389468","type":"ui_toast","z":"4f1e89f1.4a9588","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":80,"wires":[]},{"id":"36d9f865.33e9b8","type":"function","z":"4f1e89f1.4a9588","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["8785fa50.389468"]]},{"id":"1702b61.5773a4a","type":"comment","z":"4f1e89f1.4a9588","name":"Notification","info":"","x":110,"y":140,"wires":[]},{"id":"e04a69af.e6f888","type":"comment","z":"4f1e89f1.4a9588","name":"Pairing","info":"","x":590,"y":80,"wires":[]},{"id":"579fb56d.f36e4c","type":"ui_toast","z":"4f1e89f1.4a9588","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":200,"wires":[]},{"id":"f69bd882.a62398","type":"function","z":"4f1e89f1.4a9588","name":"Notification","func":"if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["579fb56d.f36e4c"]]},{"id":"d0920ae3.5bdd58","type":"comment","z":"4f1e89f1.4a9588","name":"Paired","info":"","x":590,"y":200,"wires":[]},{"id":"825bc5d.50d4538","type":"ui_toast","z":"4f1e89f1.4a9588","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1030,"y":140,"wires":[]},{"id":"e31cde77.72ec4","type":"function","z":"4f1e89f1.4a9588","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["825bc5d.50d4538"]]},{"id":"edd8560d.d4aaa8","type":"comment","z":"4f1e89f1.4a9588","name":"Incoming or Repairing","info":"","x":640,"y":140,"wires":[]},{"id":"a35ed45a.cd58d8","type":"subflow","name":"Devices","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"2c8c819.15c5a7e","type":"mqtt in","z":"a35ed45a.cd58d8","name":"zigbee2mqtt/out devices","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"bce314fb.c0edd8","x":350,"y":140,"wires":[["cceb4e61.c6c06"]]},{"id":"5f1f9160.bfd26","type":"ui_template","z":"a35ed45a.cd58d8","group":"8925a790.2d1cd8","name":"","order":0,"width":"12","height":"12","format":"<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n    <td><B><U>Online:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n    <td>{{ obj.online }}</td>\n  </tr>\n\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":140,"wires":[[]]},{"id":"e5ff5b70.6a5a88","type":"mqtt out","z":"a35ed45a.cd58d8","name":"zigbee2mqtt/in devices","topic":"zigbee2mqtt/bridge/config/devices","qos":"","retain":"","broker":"bce314fb.c0edd8","x":580,"y":60,"wires":[]},{"id":"8a96be61.61bbb","type":"inject","z":"a35ed45a.cd58d8","name":"Request Device List","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":60,"wires":[["e5ff5b70.6a5a88"]]},{"id":"3e17dae1.30f3b6","type":"comment","z":"a35ed45a.cd58d8","name":"Request Device List","info":"","x":130,"y":60,"wires":[]},{"id":"c2353f7c.44fbe","type":"comment","z":"a35ed45a.cd58d8","name":"Receive Device List","info":"","x":130,"y":140,"wires":[]},{"id":"cceb4e61.c6c06","type":"json","z":"a35ed45a.cd58d8","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["f2366c9a.72a15"]]},{"id":"5f87c2a3.53e1fc","type":"http in","z":"a35ed45a.cd58d8","name":"","url":"/adminpanelapi/devicelist","method":"get","upload":false,"swaggerDoc":"","x":530,"y":220,"wires":[["7a9a72c3.a9a43c"]]},{"id":"c3e8c4a1.441ab8","type":"function","z":"a35ed45a.cd58d8","name":"Store Data","func":"flow.set('devicelist',msg.payload);","outputs":1,"noerr":0,"x":310,"y":220,"wires":[[]]},{"id":"d8e0a489.46f868","type":"http response","z":"a35ed45a.cd58d8","name":"","x":870,"y":220,"wires":[]},{"id":"7a9a72c3.a9a43c","type":"function","z":"a35ed45a.cd58d8","name":"Get Data","func":"var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["d8e0a489.46f868"]]},{"id":"eb1da092.e3325","type":"comment","z":"a35ed45a.cd58d8","name":"HTTP JSON API","info":"","x":120,"y":220,"wires":[]},{"id":"81c43c21.0588d","type":"function","z":"a35ed45a.cd58d8","name":"Store Globally","func":"global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":80,"wires":[[]]},{"id":"180a6790.07edb8","type":"comment","z":"a35ed45a.cd58d8","name":"Device Online Status","info":"","x":140,"y":300,"wires":[]},{"id":"7e2480a.5bbbb8","type":"mqtt in","z":"a35ed45a.cd58d8","name":"zigbee2mqtt/out devices online","topic":"zigbee2mqtt/+/availability","qos":"2","broker":"bce314fb.c0edd8","x":390,"y":300,"wires":[["9f83ca17.89f288"]]},{"id":"9f83ca17.89f288","type":"function","z":"a35ed45a.cd58d8","name":"Filter Online","func":"var newMsg = {};\n\nvar re = new RegExp('^([^\\/]*)\\/([^\\/]*)\\/([^\\/]*)$','g');\nvar matchArr = re.exec(msg.topic);\nif(matchArr === null)\n    return null;\n\nif(matchArr[3].toLowerCase() !== \"availability\")\n    return null;\n    \nvar online = flow.get(\"z2monline\");\nif(online === undefined){\n    online = {};\n    flow.set(\"z2monline\",online);\n    online = flow.get(\"z2monline\");\n}\n\nonline[matchArr[2]] = msg.payload.toLowerCase();\n\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[[]]},{"id":"f2366c9a.72a15","type":"function","z":"a35ed45a.cd58d8","name":"Get Online","func":"var online = flow.get(\"z2monline\");\nif(online === undefined)\n    online = {};\n\nmsg.payload.message.forEach(function(node) {\n  node.online = null;\n  \n  if(online[node.friendly_name] !== undefined)\n    node.online = online[node.friendly_name];\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":140,"wires":[["5f1f9160.bfd26","81c43c21.0588d","c3e8c4a1.441ab8"]]},{"id":"8925a790.2d1cd8","type":"ui_group","z":"a35ed45a.cd58d8","name":"Devices","tab":"4e19e015.2458d","order":1,"disp":true,"width":"12","collapse":false},{"id":"d71ed876.e6c8c8","type":"subflow","name":"Status","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"338210b3.83f08","type":"mqtt in","z":"d71ed876.e6c8c8","name":"zigbee2mqtt/bridge state","topic":"zigbee2mqtt/bridge/state","qos":"2","broker":"bce314fb.c0edd8","x":270,"y":80,"wires":[["38cac715.e09a88"]]},{"id":"38cac715.e09a88","type":"function","z":"d71ed876.e6c8c8","name":"Format Data","func":"flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["3c2d22bf.44946e"]]},{"id":"3003c277.661d2e","type":"ui_template","z":"d71ed876.e6c8c8","group":"e9271ee0.c5eca","name":"","order":0,"width":"6","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"a2099955.df2718","type":"function","z":"d71ed876.e6c8c8","name":"Format Data","func":"var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nmsg.payload.numberofdevices = devicelist.length;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["3003c277.661d2e"]]},{"id":"c164eaa7.1c8c68","type":"inject","z":"d71ed876.e6c8c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":140,"wires":[["a2099955.df2718"]]},{"id":"3c2d22bf.44946e","type":"debug","z":"d71ed876.e6c8c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":80,"wires":[]},{"id":"cf71e664.a12fb8","type":"comment","z":"d71ed876.e6c8c8","name":"Get state","info":"","x":80,"y":80,"wires":[]},{"id":"d699604b.b520b","type":"comment","z":"d71ed876.e6c8c8","name":"Update Web UI on Interval","info":"","x":130,"y":140,"wires":[]},{"id":"44d8d0bb.1bdbd","type":"http in","z":"d71ed876.e6c8c8","name":"","url":"/adminpanelapi/state","method":"get","upload":false,"swaggerDoc":"","x":270,"y":220,"wires":[["76c003c7.b15abc"]]},{"id":"d18c9487.c94de8","type":"http response","z":"d71ed876.e6c8c8","name":"","x":590,"y":220,"wires":[]},{"id":"76c003c7.b15abc","type":"function","z":"d71ed876.e6c8c8","name":"Get Data","func":"var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["d18c9487.c94de8"]]},{"id":"9b1f1a79.0c9de8","type":"comment","z":"d71ed876.e6c8c8","name":"HTTP API","info":"","x":80,"y":220,"wires":[]},{"id":"e9271ee0.c5eca","type":"ui_group","z":"","name":"Status","tab":"4e19e015.2458d","order":2,"disp":true,"width":"6","collapse":false},{"id":"c9f98b7b.a980f8","type":"subflow","name":"Logging Level","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"dd690261.8f712","type":"ui_dropdown","z":"c9f98b7b.a980f8","name":"","label":"","place":"Select option","group":"f6d4172d.b668d8","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":120,"y":60,"wires":[["91192daf.4d144"]]},{"id":"91192daf.4d144","type":"mqtt out","z":"c9f98b7b.a980f8","name":"zigbee2mqtt/in Logging Level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"","retain":"","broker":"bce314fb.c0edd8","x":380,"y":60,"wires":[]},{"id":"f6d4172d.b668d8","type":"ui_group","z":"c9f98b7b.a980f8","name":"Logging Level","tab":"4e19e015.2458d","order":4,"disp":true,"width":"6","collapse":false},{"id":"47fe30b2.eadbc","type":"subflow","name":"Remove Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"d70fa337.28462","type":"ui_text_input","z":"47fe30b2.eadbc","name":"","label":"Device Name","group":"8067d13f.a9469","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":300,"y":60,"wires":[["c5f71a4f.b0df18"]]},{"id":"5f85cc33.c73d54","type":"mqtt out","z":"47fe30b2.eadbc","name":"zigbee2mqtt/in Remove","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","broker":"bce314fb.c0edd8","x":1190,"y":60,"wires":[]},{"id":"bdc9cc6a.ca04a","type":"function","z":"47fe30b2.eadbc","name":"Format Data","func":"flow.set('remove',msg.payload.remove);","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"c5f71a4f.b0df18","type":"change","z":"47fe30b2.eadbc","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.remove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["bdc9cc6a.ca04a"]]},{"id":"b715c79e.9f4558","type":"function","z":"47fe30b2.eadbc","name":"Format Data","func":"var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["5f85cc33.c73d54"]]},{"id":"ba227991.c717b8","type":"ui_button","z":"47fe30b2.eadbc","name":"","group":"8067d13f.a9469","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":820,"y":60,"wires":[["b715c79e.9f4558","1d4c345e.27a61c"]]},{"id":"ddc6a9a2.045b88","type":"comment","z":"47fe30b2.eadbc","name":"Remove Device","info":"","x":120,"y":60,"wires":[]},{"id":"a899c79f.51af08","type":"mqtt in","z":"47fe30b2.eadbc","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"1b5894dc.bb7acb","x":290,"y":120,"wires":[["bb0e779c.e737c8"]]},{"id":"bb0e779c.e737c8","type":"json","z":"47fe30b2.eadbc","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["f0ce7b38.1a9878"]]},{"id":"d7c58988.cc9b48","type":"ui_toast","z":"47fe30b2.eadbc","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":120,"wires":[]},{"id":"f0ce7b38.1a9878","type":"function","z":"47fe30b2.eadbc","name":"Notification","func":"if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["d7c58988.cc9b48"]]},{"id":"b4436f26.dcd8e","type":"comment","z":"47fe30b2.eadbc","name":"Notification","info":"","x":110,"y":120,"wires":[]},{"id":"87ad3b86.b86ea8","type":"ui_toast","z":"47fe30b2.eadbc","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1210,"y":120,"wires":[]},{"id":"1d4c345e.27a61c","type":"function","z":"47fe30b2.eadbc","name":"Notification","func":"var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["87ad3b86.b86ea8"]]},{"id":"8067d13f.a9469","type":"ui_group","z":"47fe30b2.eadbc","name":"Remove Device","tab":"4e19e015.2458d","order":5,"disp":true,"width":"6","collapse":false},{"id":"1b5894dc.bb7acb","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"domoticz/bridge/state","birthQos":"0","birthPayload":"online","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5eabdda1.f99714","type":"subflow","name":"Permit Join","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"7b9cdbc3.7f95f4","type":"ui_dropdown","z":"5eabdda1.f99714","name":"","label":"","place":"Select option","group":"1eac7b0c.083a65","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Allow","value":"true","type":"str"},{"label":"Deny","value":"false","type":"str"}],"payload":"","topic":"","x":90,"y":40,"wires":[["aa1e9d99.f2644","cd731c4d.a206e"]]},{"id":"aa1e9d99.f2644","type":"mqtt out","z":"5eabdda1.f99714","name":"zigbee2mqtt/in Join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"bce314fb.c0edd8","x":270,"y":40,"wires":[]},{"id":"41da4921.6ef4d8","type":"ui_toast","z":"5eabdda1.f99714","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":450,"y":100,"wires":[]},{"id":"cd731c4d.a206e","type":"function","z":"5eabdda1.f99714","name":"Notification","func":"if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["41da4921.6ef4d8"]]},{"id":"1eac7b0c.083a65","type":"ui_group","z":"","name":"Permit Join","tab":"4e19e015.2458d","order":3,"disp":true,"width":"6","collapse":false},{"id":"10557c12.f0e5f4","type":"subflow","name":"Rename Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"c7352897.714208","type":"ui_text_input","z":"10557c12.f0e5f4","name":"","label":"Old Name","group":"e578b3c1.33452","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":120,"y":140,"wires":[["e5a1157f.050118"]]},{"id":"3a8b6062.6017f","type":"ui_text_input","z":"10557c12.f0e5f4","name":"","label":"New Name","group":"e578b3c1.33452","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":130,"y":200,"wires":[["a8f994a.4188168"]]},{"id":"115cb9da.b3c336","type":"mqtt out","z":"10557c12.f0e5f4","name":"zigbee2mqtt/in Rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","broker":"bce314fb.c0edd8","x":1010,"y":140,"wires":[]},{"id":"4b88d0c1.72b05","type":"function","z":"10557c12.f0e5f4","name":"Format Data","func":"flow.set('oldname',msg.payload.old);","outputs":1,"noerr":0,"x":470,"y":140,"wires":[[]]},{"id":"e5a1157f.050118","type":"change","z":"10557c12.f0e5f4","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["4b88d0c1.72b05"]]},{"id":"a8f994a.4188168","type":"change","z":"10557c12.f0e5f4","name":"change msg new","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["c407b04.4efc15"]]},{"id":"87623ad1.1220a8","type":"function","z":"10557c12.f0e5f4","name":"Format Data","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["115cb9da.b3c336"]]},{"id":"c407b04.4efc15","type":"function","z":"10557c12.f0e5f4","name":"Format Data","func":"flow.set('newname',msg.payload.new);","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"be4d046b.1fb348","type":"ui_button","z":"10557c12.f0e5f4","name":"","group":"e578b3c1.33452","order":5,"width":0,"height":0,"passthru":false,"label":"Rename","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":140,"wires":[["87623ad1.1220a8","321a02f7.65bafe"]]},{"id":"f71cc88a.2cc0c8","type":"ui_toast","z":"10557c12.f0e5f4","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":850,"y":200,"wires":[]},{"id":"321a02f7.65bafe","type":"function","z":"10557c12.f0e5f4","name":"Notification","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["f71cc88a.2cc0c8"]]},{"id":"e578b3c1.33452","type":"ui_group","z":"","name":"Rename Device","tab":"4e19e015.2458d","order":6,"disp":true,"width":"6","collapse":false},{"id":"bce314fb.c0edd8","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e19e015.2458d","type":"ui_tab","z":"","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"dbfd503e.1bf44","type":"tab","label":"Zigbee2MQTT Admin Panel","disabled":false,"info":""},{"id":"531c3fb8.7b94d","type":"subflow:10557c12.f0e5f4","z":"dbfd503e.1bf44","name":"","x":160,"y":140,"wires":[]},{"id":"da281a17.5dbf78","type":"subflow:5eabdda1.f99714","z":"dbfd503e.1bf44","name":"","x":140,"y":100,"wires":[]},{"id":"86218a1e.a5b498","type":"subflow:47fe30b2.eadbc","z":"dbfd503e.1bf44","name":"","x":160,"y":180,"wires":[]},{"id":"e715ca5.e353b38","type":"comment","z":"dbfd503e.1bf44","name":"Function","info":"","x":140,"y":60,"wires":[]},{"id":"e610d4dc.9a7bb8","type":"subflow:c9f98b7b.a980f8","z":"dbfd503e.1bf44","name":"","x":150,"y":220,"wires":[]},{"id":"dede5e6d.a065d","type":"subflow:d71ed876.e6c8c8","z":"dbfd503e.1bf44","name":"","x":130,"y":260,"wires":[]},{"id":"a600c13d.f6aef","type":"subflow:a35ed45a.cd58d8","z":"dbfd503e.1bf44","name":"","x":130,"y":300,"wires":[]},{"id":"c6218b7e.382f48","type":"comment","z":"dbfd503e.1bf44","name":"Other","info":"","x":390,"y":60,"wires":[]},{"id":"16092ced.3aa3e3","type":"subflow:4f1e89f1.4a9588","z":"dbfd503e.1bf44","name":"","x":430,"y":100,"wires":[]},{"id":"de6c8054.1e185","type":"subflow:c1784156.72ea8","z":"dbfd503e.1bf44","name":"","x":410,"y":140,"wires":[]}]
