flow
[{"id":"7717d0c5.c00d6","type":"subflow","name":"Pairing Notifications","info":"","category":"","in":[],"out":[]},{"id":"e681be41.51ff","type":"mqtt in","z":"7717d0c5.c00d6","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"6e165f21.f7645","x":290,"y":140,"wires":[["5d97c218.a56f4c"]]},{"id":"5d97c218.a56f4c","type":"json","z":"7717d0c5.c00d6","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["d966c947.f5a728","e42902e8.c1ce"]]},{"id":"95cf3f42.f758f","type":"ui_toast","z":"7717d0c5.c00d6","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":80,"wires":[]},{"id":"d966c947.f5a728","type":"function","z":"7717d0c5.c00d6","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["95cf3f42.f758f"]]},{"id":"4a1dfb4f.eff7e4","type":"comment","z":"7717d0c5.c00d6","name":"Notification","info":"","x":110,"y":140,"wires":[]},{"id":"6107bd0b.8916d4","type":"comment","z":"7717d0c5.c00d6","name":"Pairing","info":"","x":590,"y":80,"wires":[]},{"id":"fa6792a3.4d15a","type":"ui_toast","z":"7717d0c5.c00d6","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":200,"wires":[]},{"id":"e42902e8.c1ce","type":"function","z":"7717d0c5.c00d6","name":"Notification","func":"if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["fa6792a3.4d15a"]]},{"id":"9924de9f.79f75","type":"comment","z":"7717d0c5.c00d6","name":"Paired","info":"","x":590,"y":200,"wires":[]},{"id":"3d5068a8.cd4a58","type":"subflow","name":"Devices","info":"","in":[],"out":[]},{"id":"6626694f.8e8f98","type":"mqtt in","z":"3d5068a8.cd4a58","name":"zigbee2mqtt/out devices","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"6e165f21.f7645","x":350,"y":140,"wires":[["ed2005e2.3ba378"]]},{"id":"47046812.274d68","type":"ui_template","z":"3d5068a8.cd4a58","group":"5bc43a6a.325dc4","name":"","order":0,"width":"12","height":"12","format":"<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"221d40dc.59e81","type":"mqtt out","z":"3d5068a8.cd4a58","name":"zigbee2mqtt/in devices","topic":"zigbee2mqtt/bridge/config/devices","qos":"","retain":"","broker":"6e165f21.f7645","x":580,"y":60,"wires":[]},{"id":"1e31d448.e0330c","type":"inject","z":"3d5068a8.cd4a58","name":"Request Device List","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":60,"wires":[["221d40dc.59e81"]]},{"id":"2e5d552a.ebccda","type":"comment","z":"3d5068a8.cd4a58","name":"Request Device List","info":"","x":130,"y":60,"wires":[]},{"id":"a33de1a4.257c5","type":"comment","z":"3d5068a8.cd4a58","name":"Receive Device List","info":"","x":130,"y":140,"wires":[]},{"id":"ed2005e2.3ba378","type":"json","z":"3d5068a8.cd4a58","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["47046812.274d68"]]},{"id":"5bc43a6a.325dc4","type":"ui_group","z":"3d5068a8.cd4a58","name":"Devices","tab":"add2a904.2eac88","order":1,"disp":true,"width":"12","collapse":false},{"id":"5bdf84bb.ccbecc","type":"subflow","name":"Status","info":"","in":[],"out":[]},{"id":"e82ab8b5.519b88","type":"mqtt in","z":"5bdf84bb.ccbecc","name":"zigbee2mqtt/bridge state","topic":"zigbee2mqtt/bridge/state","qos":"2","broker":"6e165f21.f7645","x":270,"y":80,"wires":[["8be651dd.648c4"]]},{"id":"8be651dd.648c4","type":"function","z":"5bdf84bb.ccbecc","name":"Format Data","func":"flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["2d4f1527.7d6cca"]]},{"id":"2015d764.6c03e8","type":"ui_template","z":"5bdf84bb.ccbecc","group":"392fedc8.c94512","name":"","order":0,"width":0,"height":0,"format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"80880433.fd46b8","type":"function","z":"5bdf84bb.ccbecc","name":"Format Data","func":"var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["2015d764.6c03e8"]]},{"id":"2081a21e.a7a38e","type":"inject","z":"5bdf84bb.ccbecc","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":140,"wires":[["80880433.fd46b8"]]},{"id":"2d4f1527.7d6cca","type":"debug","z":"5bdf84bb.ccbecc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":80,"wires":[]},{"id":"8550e9d.afde318","type":"comment","z":"5bdf84bb.ccbecc","name":"Get state","info":"","x":80,"y":80,"wires":[]},{"id":"7b0141f6.9a98","type":"comment","z":"5bdf84bb.ccbecc","name":"Update Web UI on Interval","info":"","x":130,"y":140,"wires":[]},{"id":"392fedc8.c94512","type":"ui_group","z":"","name":"Status","tab":"add2a904.2eac88","order":2,"disp":true,"width":"6","collapse":false},{"id":"bf7036d3.5cd878","type":"subflow","name":"Logging Level","info":"","in":[],"out":[]},{"id":"371763cd.1d33cc","type":"ui_dropdown","z":"bf7036d3.5cd878","name":"","label":"","place":"Select option","group":"1da850.b7c8e7b","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":120,"y":60,"wires":[["cacce7ad.c738b8"]]},{"id":"cacce7ad.c738b8","type":"mqtt out","z":"bf7036d3.5cd878","name":"zigbee2mqtt/in Logging Level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"","retain":"","broker":"cd51966f.aa7e38","x":380,"y":60,"wires":[]},{"id":"1da850.b7c8e7b","type":"ui_group","z":"bf7036d3.5cd878","name":"Logging Level","tab":"add2a904.2eac88","order":4,"disp":true,"width":"6","collapse":false},{"id":"61e18d57.f57d44","type":"subflow","name":"Remove Device","info":"","in":[],"out":[]},{"id":"c34bf1bd.12344","type":"ui_text_input","z":"61e18d57.f57d44","name":"","label":"Device Name","group":"277646a5.9f146a","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":300,"y":60,"wires":[["90619824.9e76f8"]]},{"id":"80ee3cd9.90a47","type":"mqtt out","z":"61e18d57.f57d44","name":"zigbee2mqtt/in Remove","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","broker":"cd51966f.aa7e38","x":1190,"y":60,"wires":[]},{"id":"df8f21a0.f01a","type":"function","z":"61e18d57.f57d44","name":"Format Data","func":"flow.set('remove',msg.payload.remove);","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"90619824.9e76f8","type":"change","z":"61e18d57.f57d44","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.remove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["df8f21a0.f01a"]]},{"id":"4603010d.bf7e4","type":"function","z":"61e18d57.f57d44","name":"Format Data","func":"var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["80ee3cd9.90a47"]]},{"id":"97f34cbc.22917","type":"ui_button","z":"61e18d57.f57d44","name":"","group":"277646a5.9f146a","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":820,"y":60,"wires":[["4603010d.bf7e4","c2588035.e258c"]]},{"id":"c43847cf.ddd178","type":"comment","z":"61e18d57.f57d44","name":"Remove Device","info":"","x":120,"y":60,"wires":[]},{"id":"6b817453.de4aec","type":"mqtt in","z":"61e18d57.f57d44","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"6e165f21.f7645","x":290,"y":120,"wires":[["eced2f65.3b8c1"]]},{"id":"eced2f65.3b8c1","type":"json","z":"61e18d57.f57d44","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["324b3449.96b2bc"]]},{"id":"be0f8aba.546918","type":"ui_toast","z":"61e18d57.f57d44","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":120,"wires":[]},{"id":"324b3449.96b2bc","type":"function","z":"61e18d57.f57d44","name":"Notification","func":"if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["be0f8aba.546918"]]},{"id":"151886bc.a50e59","type":"comment","z":"61e18d57.f57d44","name":"Notification","info":"","x":110,"y":120,"wires":[]},{"id":"7a37bba1.1be974","type":"ui_toast","z":"61e18d57.f57d44","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1210,"y":120,"wires":[]},{"id":"c2588035.e258c","type":"function","z":"61e18d57.f57d44","name":"Notification","func":"var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["7a37bba1.1be974"]]},{"id":"277646a5.9f146a","type":"ui_group","z":"61e18d57.f57d44","name":"Remove Device","tab":"add2a904.2eac88","order":5,"disp":true,"width":"6","collapse":false},{"id":"6e165f21.f7645","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"domoticz/bridge/state","birthQos":"0","birthPayload":"online","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c463e8e.23cb618","type":"subflow","name":"Permit Join","info":"","in":[],"out":[]},{"id":"8dbf273d.db71f8","type":"ui_dropdown","z":"c463e8e.23cb618","name":"","label":"","place":"Select option","group":"24dab572.b5446a","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Allow","value":"true","type":"str"},{"label":"Deny","value":"false","type":"str"}],"payload":"","topic":"","x":90,"y":40,"wires":[["aaaa3159.22f1c","cead3436.0d2b28"]]},{"id":"aaaa3159.22f1c","type":"mqtt out","z":"c463e8e.23cb618","name":"zigbee2mqtt/in Join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"cd51966f.aa7e38","x":270,"y":40,"wires":[]},{"id":"924b55cd.196538","type":"ui_toast","z":"c463e8e.23cb618","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":450,"y":100,"wires":[]},{"id":"cead3436.0d2b28","type":"function","z":"c463e8e.23cb618","name":"Notification","func":"if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["924b55cd.196538"]]},{"id":"24dab572.b5446a","type":"ui_group","z":"","name":"Permit Join","tab":"add2a904.2eac88","order":3,"disp":true,"width":"6","collapse":false},{"id":"3f0876ec.a0a34a","type":"subflow","name":"Rename Device","info":"","in":[],"out":[]},{"id":"701f40af.adb68","type":"ui_text_input","z":"3f0876ec.a0a34a","name":"","label":"Old Name","group":"8ee73463.fb8988","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":120,"y":140,"wires":[["8bcd8ada.ea3ce8"]]},{"id":"5c2e2b2c.1ed194","type":"ui_text_input","z":"3f0876ec.a0a34a","name":"","label":"New Name","group":"8ee73463.fb8988","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":130,"y":200,"wires":[["7207a0f5.ca236"]]},{"id":"7ab1332a.06593c","type":"mqtt out","z":"3f0876ec.a0a34a","name":"zigbee2mqtt/in Rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","broker":"cd51966f.aa7e38","x":1010,"y":140,"wires":[]},{"id":"97b4e6f6.0e4528","type":"function","z":"3f0876ec.a0a34a","name":"Format Data","func":"flow.set('oldname',msg.payload.old);","outputs":1,"noerr":0,"x":470,"y":140,"wires":[[]]},{"id":"8bcd8ada.ea3ce8","type":"change","z":"3f0876ec.a0a34a","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["97b4e6f6.0e4528"]]},{"id":"7207a0f5.ca236","type":"change","z":"3f0876ec.a0a34a","name":"change msg new","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["9fc96534.c5dd48"]]},{"id":"ccb8aa50.a0e988","type":"function","z":"3f0876ec.a0a34a","name":"Format Data","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["7ab1332a.06593c"]]},{"id":"9fc96534.c5dd48","type":"function","z":"3f0876ec.a0a34a","name":"Format Data","func":"flow.set('newname',msg.payload.new);","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"9890e56b.a11748","type":"ui_button","z":"3f0876ec.a0a34a","name":"","group":"8ee73463.fb8988","order":5,"width":0,"height":0,"passthru":false,"label":"Rename","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":140,"wires":[["ccb8aa50.a0e988","b22c848.bda3378"]]},{"id":"3afbdcba.37e214","type":"ui_toast","z":"3f0876ec.a0a34a","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":850,"y":200,"wires":[]},{"id":"b22c848.bda3378","type":"function","z":"3f0876ec.a0a34a","name":"Notification","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["3afbdcba.37e214"]]},{"id":"8ee73463.fb8988","type":"ui_group","z":"","name":"Rename Device","tab":"add2a904.2eac88","order":6,"disp":true,"width":"6","collapse":false},{"id":"cd51966f.aa7e38","type":"mqtt-broker","z":"","name":"MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"add2a904.2eac88","type":"ui_tab","z":"","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"75dbd8.bc40b428","type":"subflow:3f0876ec.a0a34a","z":"ec470a7f.c7f4d8","name":"","x":140,"y":140,"wires":[]},{"id":"1e7d1726.317579","type":"subflow:c463e8e.23cb618","z":"ec470a7f.c7f4d8","name":"","x":120,"y":100,"wires":[]},{"id":"8e6a57.1ed0a5a8","type":"subflow:61e18d57.f57d44","z":"ec470a7f.c7f4d8","name":"","x":140,"y":180,"wires":[]},{"id":"ea497ef3.c1b0e","type":"comment","z":"ec470a7f.c7f4d8","name":"System Tab Sub Flow Widgets","info":"","x":180,"y":60,"wires":[]},{"id":"c98687b2.dafc68","type":"subflow:bf7036d3.5cd878","z":"ec470a7f.c7f4d8","name":"","x":130,"y":220,"wires":[]},{"id":"611870ad.47e62","type":"subflow:5bdf84bb.ccbecc","z":"ec470a7f.c7f4d8","name":"","x":110,"y":260,"wires":[]},{"id":"b88d8845.206118","type":"subflow:3d5068a8.cd4a58","z":"ec470a7f.c7f4d8","name":"","x":110,"y":300,"wires":[]},{"id":"93874e02.08cce","type":"comment","z":"ec470a7f.c7f4d8","name":"Other","info":"","x":430,"y":60,"wires":[]},{"id":"2203fbbb.aa1514","type":"subflow:7717d0c5.c00d6","z":"ec470a7f.c7f4d8","name":"","x":470,"y":100,"wires":[]}]
